modernizer-maven-plugin/src/main/resources/modernizer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="modernizer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="violation" type="violationType"
                    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="violationType">
    <xs:all>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="version" type="javaVersionType"/>
      <xs:element name="comment" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="javaVersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(1\.)?[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
